body {
    background-color: rgb(229, 231, 224);
    border-spacing: 0;
  }
  
  h1 {
    color: black;
    text-align: center;
    font-size: xx-large;
    font-style: oblique;
  }
  
  h2 {
    color: black;
    text-align: center;
  }

  table{
    margin: 0 auto;
    border-color: blue;
  }
    
    table td, table th {
        border: 1px solid black; 
        padding: 8px; 
        text-align: center; 
  }
  caption {
    text-align: left;
    text-underline-position: below;
  }
.button-container {
  display: flex;
  justify-content: center;
}
